

<div class="container top_margin full_size">
	<div class="row full_size">
		<div class="span12 full_size">
			<div class="span3 span_nav">
				<%= render template: 'layouts/navbar' %>
			</div>
			<div class="span9 remain_span">
				<div style="text-align:center"><%= image_tag "aboutus.jpg" %></div>
			</div>
		</div>
	</div>
</div>





<script>
	   $(document).ready(function() {
        	$('body').css('background-image', 'url(/assets/spoon.jpg)');
    	});
</script>