
<div align="center" class="homepage_layout">
            <div class="content">
                <ul class="bmenu">
                    <li><%= link_to "Reviews", restaurants_path %></li>
                    <li><%= link_to "Top 10", homepages_topten_path %></li>
                    <% if can? :index, User %>   
                      <li><%= link_to "Manage Users", users_path %></li>
                    <% end %>
                    <li><%= link_to "Manage Reviews",  manage_review_restaurants_path %></li>
                    <% if can? :manage, RestaurantCategory %>
                      <li><%= link_to "Resturant Categories", restaurant_categories_path %></li>
                    <% end %>
                    <li><%= link_to "About us", homepages_about_us_path %></li>
                </ul>

            </div>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css' />
  </div>