<h2>Sign in</h2>
<div class="panel-sign">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs mg-login">
    <%= f.input :user_name, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %><br>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %><br>
    <%= button_tag 'Sign In', type: :submit, class: 'btn btn-primary form-login-btn' %><br><br>
    <%= render "users/shared/links" %>
  </div>
 
<% end %>


</div>

