<div class="hero-unit form_new_res">
<%= form_for(@restaurant_category) do |f| %>
  <% if @restaurant_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_category.errors.count, "error") %> prohibited this restaurant_category from being saved:</h2>

      <ul>
      <% @restaurant_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" align="center">
    <%= f.label :name ,:style =>"display:inline"%>
    <%= f.text_field :name %><br>
    <%= f.submit :value => "Create", :class => 'btn btn-primary'%>
  </div>
 
<% end %>
<%= link_to 'Back', restaurant_categories_path ,:class => 'btn btn-primary'%>
</div>