<h1>Restaurant Categories</h1>
<div class="panel-sign">
<table class="table table_user table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Delete</th>
     
    </tr>
  </thead>

  <tbody>
    <% @restaurant_categories.each do |restaurant_category| %>
      <tr>
        <td><%= restaurant_category.name %></td>
        <td><%= link_to 'Destroy', restaurant_category, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant category', new_restaurant_category_path,:class => "btn btn-primary" %>
</div>