<h1>Edit User</h1>


<div class="hero-unit form_regis">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
    <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <% if can? :assign_roles, @user %>
    <div class="field">
    <%= f.label :role %><br>
    <%#= f.text_field :role %>
    Admin Yes : <%= radio_button("user", :role, "admin") %>
    No : <%= radio_button("user", :role, "member", :checked => true) %>
  </div>
  <% end %>
  
      <div class="field">
    <%= f.label :avartar %><br>
    <%= f.file_field :avartar %>
  </div>
  <br>
  <div class="actions">
     <%= f.submit :value => "Update", :class => 'btn btn-warning'%>
  </div>
<% end %>
</div>