	<h1 class="text-center" id="head_table_user">Manage Users</h1>
	<div class="panel-sign">
<table class="table table_user table-bordered table-hover ">

	<thead>
		<tr>
			<th>#</th>
			<td>Avartar</th>
			<th>User Name</th>
			<td>Role</th>
			<th>Show</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<% count = 1 %>
		<% @users.each do |user| %>

			<tr>
				<td><%= count %></td>
				<% unless user.avartar.blank? %>
					<td><%= image_tag(user.avartar.url(:user_avartar)) %></td>
				<% else %>
					<td><%= image_tag("nopictureuser.jpg") %></td>
				<% end %>
				<td><%= user.user_name %></td>
				<td><%= user.role %></td>
				<td><%= link_to "Show", user ,:class => "btn btn-primary"%></td>
				<td><%= link_to "Edit", edit_user_path(user),:class => "btn btn-warning" %></td>
				<% unless user.role == "admin" %>
					<td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger"%></td>
				<% else %>
					<td></td>
				<% end %>
			</tr>
			<% count = count+1 %>
		
		<% end %>

	</tbody>

</table>
	</div>




