
<div class="hero-unit" style="background-color:black;">
	<div class="thumbnail" style="width:100px;margin:auto;">
		<% unless @user.avartar.blank? %>
			<%= image_tag @user.avartar,width: '100' %>
		<% else %>
			<%= image_tag("nopictureuser.jpg") %>
		<% end %>
	</div>
	<br/>
	<div class="show_detail_user" align="center">
		User Name : <%= @user.user_name %><br/>
		E-mail : <%= @user.email %><br/>
		Phone : <%= @user.phone %><br/>
		Role : <%= @user.role %>
	<div>


</div>