<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @rating.total %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @rating.restaurant_id %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
