<%= nested_form_for(@restaurant, :html=>{:multipart => true }) do |f| %>
  

  <% if @restaurant.errors.any? %>

    <div id="error_explanation" class="alert alert-error">
      <h5><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h5>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <div class="hero-unit form_new_res">
    <div class="field">
      <%= f.label :name %><%= f.text_field :name ,:style => "width:300px;"%>
    </div>
    <div class="field">
      <%= f.label :address %><%= f.text_area :address,:rows => 3,:style => "width:300px;" %>
    </div>
    <div class="field">
      <%= f.label :tel %><%= f.text_field :tel,:style => "width:300px;" %>
    </div>
    <div class="field">
      <%= f.label :email %><%= f.text_field :email ,:style => "width:300px;"%>
    </div>
    <div class="field">
      <%= f.label :website %><%= f.text_field :website ,:style => "width:300px;"%>
    </div>
    <div class="field">
      <%= f.label :description %><%= f.text_area :description,:rows => 5 ,:style => "width:300px;"%>
    </div>
    <div class="field">
      <%= f.label :price_per_person %><%= f.text_field :price_per_person %>
    </div>
    <div class="field">
      <%= f.label :office_hours %><%= f.text_field :office_hours %>
    </div>
    <div class="field">
      <%= f.label :locate_id %><%= f.collection_select :locate_id, Locate.all,:id, :district, { prompt: true, length: 25 },{ style: "width: 150px;" } %>
    </div>
    <div class="field">
      <%= hidden_field_tag 'restaurant[user_id]', current_user.id %>
    </div>
      <div class="field">
      <%= f.label :restaurant_category_id %><%= f.collection_select :restaurant_category_id, RestaurantCategory.all,:id, :name, { prompt: true, length: 25 },{ style: "width: 150px;" } %>
      </div>

    <div class="field">
      <%= f.fields_for :images do |image|  %>
      
        Description image <%= image.text_field :description, size: 40%>
        
        <%= image.file_field :image %>
        <% if image.object.image?  %>
          <%= image_tag image.object.image.url,:width => "100" %>
        <% else %>
          <% image_tag "nopictureuser.jpg" %>
        <% end %>
        <%= image.link_to_remove t('.remove_image') %>
      <% end %>
      <%= f.link_to_add t('.add_image'), :images ,{:style => "margin:auto;"}%>
      
    </div>

    <div class="field">
      
      <%= f.fields_for :menus do |menu|  %>
        Menu :  <%= menu.text_field :name %>
        <%= menu.link_to_remove t('.remove_menu') %>
      <% end %>

      <%= f.link_to_add t('.add_menu'), :menus %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", :class => 'btn btn-primary form_res_submit_button',:style => "width:200px"%>
    </div>

    <% end %>

</div>