

<div class="search_everything">
	<%= form_tag(restaurants_path, method: "get") do %>
	  <%= text_field_tag 'search', nil, placeholder: 'Enter search term...' %>
	  <%= image_submit_tag("search.png", :class => 'search_img') %>
	<% end %>
</div>

<% if can? :create, Restaurant %>
	<div class="icon_new_res">
		<%= link_to image_tag("add_res.png",height: '50', width: '50'), new_restaurant_path %>
	</div>
<% end %>

<div class="mg">
	<% @restaurants.each do |restaurant| %>
	<div class="mg-text-head">
		<%=	link_to  restaurant.name , {:action => 'show', :controller => 'restaurants',:id => restaurant.id },{:class => 'color-link'} %> 
	</div>	
	<div class= 'oval-bg mg-oval-bg' style="position:absolute;" >
		<div class="oval img-resize mg-oval">
			<% if restaurant.images.first %>
				<%= link_to(image_tag(restaurant.images.first.image),restaurant_path(restaurant.id)) %>
			<% else %>
				<%= link_to(image_tag("nopicture.jpg"),restaurant_path(restaurant.id)) %>
			<% end %>
		</div>	
	</div>


	<div class="rectangle mg-rectangle">
		<div class="mg-text">
			<div class="text">
				<br><br>
				<% if restaurant.description.length >= 280 %>
					<%= truncate restaurant.description, length: 200 %> 
					<%=	link_to "Read more", :controller => "restaurants", :action => "show", :id => restaurant.id %>
				<% else %>	
					<%= restaurant.description %>
				<% end %>
				<br>
				<br>
				<hr>	
				<div class="name_user_review">Review By <%= link_to restaurant.user.user_name, user_path(restaurant.user_id) %></div>
			</div>	
		</div>				
</div>

	<%end%>

  	
	<div class="apple_pagination">	
	  <%= will_paginate @restaurants %> 
	</div>
	
</div>

