<h1 class="text-center" id="head_table_user">Manage Reviews</h1>
<div class="panel-sign">
<table  class="table table_user table-bordered table-hover">
	 <thead>
	 	<tr>
	 		<th>Post on</th>
	 		<th>Name</th>
	 		<th>Post by</th>
	 		<th>Show</th>
	 		<th>Edit</th>
	 		<th>Delete</th>
	 	</tr>
	 </thead>
	 <tbody>

	 	<% @restaurants.each do |restaurant| %>
	 	<tr>
	 		<td><%= restaurant.created_at %></td>
	 		<td><%= restaurant.name %></td>
	 		<td><%= restaurant.user.user_name %></td>
	 		<td><%= link_to 'Show', restaurant,:class => "btn btn-primary" %></td>
        	<td><%= link_to 'Edit',  edit_restaurant_path(restaurant),:class => "btn btn-warning" %></td>
        	<td><%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger" %></td>

	 	</tr>

	 	<% end %>
	 </tbody>
<table>
</div>
