<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @restaurant.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurant.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Price per person:</strong>
  <%= @restaurant.price_per_person %>
</p>

<p>
  <strong>Office hours:</strong>
  <%= @restaurant.office_hours %>
</p>

<p>
  <strong>Locate:</strong>
  <%= @restaurant.locate_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @restaurant.user_id %>
</p>

<p>
  <strong>Restaurant_category:</strong>
  <%= @restaurant.restaurant_category_id %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
