<script type="text/javascript">
$(document).ready(function() {
  $('#smart-gallery').gallery({ stickthumbnails: true, random: true});
});
</script>


<div class="detail">

  <div id="all_star"></div>

  <div class="show_img">
    <% img_res = @restaurant.images %>
    <div id="smart-gallery">
      <% img_res.each do |img| %>
      <a href=<%= img.image.url(:thumb) %> title=<%= img.description %> >
        <img src=<%= img.image %> /></a> 
        <% end %>
      </div>
    </div>

    <div class="description-restaurant hero-unit">
      <div class="row">
        <div class="span3">ชื่อร้าน</div>
        <div class="span1">:</div>
        <div class="span6"><%= @restaurant.name %><br/></div>
      </div>

      <div class="row">
        <div class="span3">ประเภทร้าน</div>
        <div class="span1">:</div>
        <div class="span6"><%= @restaurant.restaurant_category.name%><br/></div>
      </div>
      
      <div class="row">
        <div class="span3">ย่าน</div>
        <div class="span1">:</div>
        <div class="span6"><%= @restaurant.locate.district %><br/></div>
      </div>
       
      <div class="row">
        <div class="span3">ที่อยู่</div>
        <div class="span1">:</div>
        <div class="span6"><%= @restaurant.address %><br/></div>
      </div>
        
      <% unless @restaurant.office_hours.blank? %>
          <div class="row">
            <div class="span3">เปิดบริการ</div>
            <div class="span1">:</div>
            <div class="span6"><%= @restaurant.office_hours %><br/></div>
          </div>
      <% end %>

      <% unless @restaurant.tel.blank? %>
          <div class="row">
            <div class="span3">เบอร์ติดต่อ</div>
            <div class="span1">:</div>
            <div class="span6"><%= @restaurant.tel %><br/></div>
          </div>
      <% end %>

      <div class="row">
          <div class="span3">รายละเอียดร้าน</div>
          <div class="span1">:</div>
          <div class="span6"><%= @restaurant.description %><br/></div>
      </div>
      
      <% unless @restaurant.price_per_person.blank? %>
        <div class="row">
          <div class="span3">ราคาต่อท่าน</div>
          <div class="span1">:</div>
          <div class="span6"><%= @restaurant.price_per_person %><br/></div>
        </div>   
      <% end %>

      <% unless @restaurant.website.blank? %>
        <div class="row">
          <div class="span3">เว็บไซต์</div>
          <div class="span1">:</div>
          <div class="span6"><%= link_to (@restaurant.website),"http://"+@restaurant.website %><br/></div>
        </div>   
      <% end %>
        
      <% unless @restaurant.email.blank? %>
        <div class="row">
          <div class="span3">อีเมล์</div>
          <div class="span1">:</div>
          <div class="span6"><%= @restaurant.email %><br/></div>
        </div>  
      <% end %>

      <div class="row">
        <div class="span3">รีวิวโดย</div>
        <div class="span1">:</div>
        <div class="span6"><%= link_to @restaurant.user.user_name,user_path(@restaurant.user_id) %><br/></div>
      </div>  

      <% unless @restaurant.menus.blank? %>
        <div class="row">
          <div class="span3">รายการอาหารแนะนำ</div>
          <div class="span1">:</div>
          <div class="span6">
            <% @menus = @restaurant.menus %>
            <%  @menus.each do |menu| %>
              <%= menu.name %>
            <% end %>
          </div>
        </div>  
        
      <% end %>
      <br/>

    <% if user_signed_in? %>
      <% if current_user.id == @restaurant.user.id || current_user.role == "admin" %>
        <div class="align_icon_show">
          <% rating_all = Rating.where("restaurant_id = ? AND user_id = ?",@restaurant.id,current_user.id) %>
          <% if rating_all.blank? %>
            <button type="button" data-toggle="modal" data-target="#myRating" class="btn btn-primary"><%= image_tag "like.png" ,width: '70' %></button>
          <% end %>
      <% end %>
    <% end %>
        </div>
</div>
 <div class="link_facebook">
  <%= link_to image_tag("facebookicon.png" , width: '70'), 'http://www.facebook.com/sharer.php?u='+request.url, :target => :blank %>
</div>
     

<% @comments = @restaurant.comments %>
<% @comments = @comments.order("id ASC") %>
<%  @comments.each do |comment| %>
  <% if comment.comment != nil%>
    <div class="list_comment hero-unit">
      <table>
        <td class="comment_pic">
          <%= image_tag(comment.user.avartar, size: "50x50") %>
        </td>
        <td class="comment_details">
          <div class="who_comment">
            <%= link_to comment.user.user_name, user_path(comment.user.id) %>
          </div>
          <div class="comment_option">
            <% if user_signed_in? %>
              <% if current_user.role == "admin" || current_user.id == comment.user_id %>
                <div class="btn-group">
                  <%= link_to "Edit", "#edit_comment_form", :class => "btn btn-warning",:onclick => 'JavaScript:add_comment_id('+comment.id.to_s+')', "data-toggle" => "modal" %>
                  <%= link_to "Destroy", comment_path(:id => comment.id, :restaurant_id => @restaurant.id), :confirm => 'Are you sure?', :method => :delete ,:class => "btn btn-danger" %>
                </div>
              <% end %>
            <% end %>
          </div><br/>
          <div class="descrip_comment">
            <%= comment.comment %><br/>
            <div class="">Last updated: <%= comment.updated_at.to_time.strftime('%d %a %b %Y %H:%M:%S') %></div><br/>
          </div>
        </td>
      </table>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div id="edit_comment_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="commentModalLabel">Edit Comment</h3>
      </div>
      <div class="alert alert-error" id="show_alert_edit_comment" style="display:none;">
        Please type your comment.
      </div>
      <%= form_tag({controller: "comments", action: "edit"}, method: "get", id: "change_comment") do %>
        <div class="modal-body">
          <%= text_area_tag :comment, comment.comment, :class => 'edit_comment_text',rows: 10,:style => "width:515px; resize: none;",:placeholder => "Please type your comment." %>
          <%= hidden_field_tag(:restaurant_id, @restaurant.id) %>
        </div>

        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <%= submit_tag "Update",:id=> "update_edit_btn",:class => "btn btn-primary comment_edit_btn" %>
        </div>
      <% end %>
    </div>
    <% end %>
<% end %>


  <% if user_signed_in? %>
  <div class="add_comment">
    <div class="alert alert-error" id="show_alert" style="display:none;">
      Please type your comment.
    </div>
    <%= form_for @comment, :html => {:id => "new_comment" } do |f| %>
    <%= f.text_area :comment ,:id => "text_comment" ,:rows => "3",:style => "width:630px;resize: none;" ,:placeholder => "                                                             Type Your Comment" %>&nbsp;&nbsp;&nbsp;<%= f.submit 'Post', :class => 'btn btn-primary new_comment_submit' %><br/>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <% end %>
  </div><br/>
  <% end %>



<% if user_signed_in? %>
  
  <div id="myRating" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Ratings</h3>
    </div>
    <%= form_tag({controller: "restaurants", action: "rating_average"}, method: "get", class: "xxx") do %>
    <div class="modal-body">

      <input name="star1" type="radio" class="star check1" value="1" title="Very poor">
      <input name="star1" type="radio" class="star check1" value="2" title="Poor">
      <input name="star1" type="radio" class="star check1" value="3" title="OK">
      <input name="star1" type="radio" class="star check1" value="4" title="Good">
      <input name="star1" type="radio" class="star check1" value="5" title="Very Good">
      <span id="hover-default_star_1" style="margin:0 0 0 20px;">รสชาติอาหาร</span>
      <br/>

      <input name="star2" type="radio" class="star check2" value="1" title="Very poor">
      <input name="star2" type="radio" class="star check2" value="2" title="Poor">
      <input name="star2" type="radio" class="star check2" value="3" title="OK">
      <input name="star2" type="radio" class="star check2" value="4" title="Good">
      <input name="star2" type="radio" class="star check2" value="5" title="Very Good">
      <span id="hover-default_star_2" style="margin:0 0 0 20px;">บรรยากาศภายในร้าน</span>
      <br/>
      
      <input name="star3" type="radio" class="star check3" value="1" title="Very poor">
      <input name="star3" type="radio" class="star check3" value="2" title="Poor">
      <input name="star3" type="radio" class="star check3" value="3" title="OK">
      <input name="star3" type="radio" class="star check3" value="4" title="Good">
      <input name="star3" type="radio" class="star check3" value="5" title="Very Good">
      <span id="hover-default_star_3" style="margin:0 0 0 20px;">การให้บริการ</span>
      <br/>
      
      <input name="star4" type="radio" class="star check4" value="1" title="Very poor">
      <input name="star4" type="radio" class="star check4" value="2" title="Poor">
      <input name="star4" type="radio" class="star check4" value="3" title="OK">
      <input name="star4" type="radio" class="star check4" value="4" title="Good">
      <input name="star4" type="radio" class="star check4" value="5" title="Very Good">
      <span id="hover-default_star_4" style="margin:0 0 0 20px;">เมนูอาหาร</span>
      <br/>
      <%= hidden_field_tag(:restaurant_id, @restaurant.id) %>
      <%= hidden_field_tag(:user_id, current_user.id) %>
    </div>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= submit_tag "Vote",:class => "btn btn-primary", :onclick => "return validateForm()" %>
    </div>
    <% end %>
  </div>
<% end %>




<script>

  var div_star_top = document.getElementById("all_star");
  if(<%= @restaurant.total.to_f.round == 5 %>){
    div_star_top.style.width = "250px";
    var check = 5;
  }
  else if(<%= @restaurant.total.to_f.round == 4 %>){
    div_star_top.style.width = "200px";
    var check = 4;
  }
  else if(<%= @restaurant.total.to_f.round == 3 %>){
    div_star_top.style.width = "150px";
    var check = 3;
  }
  else if(<%= @restaurant.total.to_f.round == 2 %>){
    div_star_top.style.width = "100px";
   var check = 2;
  }
  else if(<%= @restaurant.total.to_f.round == 1 %>){
    div_star_top.style.width = "50px";
    var check = 1;
  }
  else{
    var check = 0;
  }
  
  for (var i=0;i<check;i++)
  {
      var yellow_star = document.createElement("img");
      yellow_star.setAttribute("src", "/assets/score_star.png");
      yellow_star.setAttribute("height", "50");
      yellow_star.setAttribute("width", "50");
      document.getElementById("all_star").appendChild(yellow_star);
  }



  $('#new_comment').submit(function()
  {
   if($('#text_comment').val().length < 1)
   {
    var popup = document.getElementById("show_alert");
    popup.style.display = 'block';
    return false;
  }
});

  $('#change_comment').submit(function()
  {
     if($('textarea#comment.edit_comment_text').val().length < 1)
     {
      var popup = document.getElementById("show_alert_edit_comment");
      popup.style.display = 'block';
      return false;
    }
  });

  $('.check1').rating({ 
    focus: function(value, link){ 
      var tip = $('#hover-default_star_1'); 
      tip[0].data = tip[0].data || tip.html(); 
      tip.html(link.title || 'value: '+value);
    }, 
    blur: function(value, link){ 
      var tip = $('#hover-default_star_1'); 
      $('#hover-default_star_1').html(tip[0].data || '');
    } });
  $('.check2').rating({ 
    focus: function(value, link){ 
      var tip = $('#hover-default_star_2'); 
      tip[0].data = tip[0].data || tip.html(); 
      tip.html(link.title || 'value: '+value);
    }, 
    blur: function(value, link){ 
      var tip = $('#hover-default_star_2'); 
      $('#hover-default_star_2').html(tip[0].data || '');
    } });
  $('.check3').rating({ 
    focus: function(value, link){ 
      var tip = $('#hover-default_star_3'); 
      tip[0].data = tip[0].data || tip.html(); 
      tip.html(link.title || 'value: '+value);
    }, 
    blur: function(value, link){ 
      var tip = $('#hover-default_star_3'); 
      $('#hover-default_star_3').html(tip[0].data || '');
    } });
  $('.check4').rating({ 
    focus: function(value, link){ 
      var tip = $('#hover-default_star_4'); 
      tip[0].data = tip[0].data || tip.html(); 
      tip.html(link.title || 'value: '+value);
    }, 
    blur: function(value, link){ 
      var tip = $('#hover-default_star_4'); 
      $('#hover-default_star_4').html(tip[0].data || '');
    } });
 

  function validateRadio(radios) {
    var radios = document.getElementsByName(radios);
    var formValid = false;

    var i = 0;
    while (!formValid && i < radios.length) {
      if (radios[i].checked) formValid = true;
      i++;        
    }
    return formValid;
  }

  function validateForm()
  {
    if(validateRadio ("star1") && validateRadio ("star2") && validateRadio ("star3") && validateRadio ("star4"))
    {
      return true;
    }
    else
    {
      alert("Must check some option!");
      return false;
    }
  }

  function add_comment_id(id) {
    var input = document.createElement("input");
    input.setAttribute("type", "hidden");
    input.setAttribute("name", "cc");
    input.setAttribute("value", id);
    document.getElementById("change_comment").appendChild(input);
  }

</script>