// Place all the styles related to the homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.style_image_topbar{
	height:50px;
	width: 50px;
	border: 1px solid red
}