// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-resize img {
	width: auto;
	height: 150px;
}

.img-resize {
	width: 250px;
	height: 250px;
	overflow: hidden;
	text-align: center;
}
.mg{
	margin-top:25px;
	margin-bottom:50px;
	margin-right:20px;
	margin-left:20px;
}

.mg-oval-bg{
	margin-top:25px;
	margin-bottom:30px;
	margin-right:0px;
	margin-left:0px;
}
.mg-oval{
	margin-top:10px;
	margin-bottom:10px;
	margin-right:5px;
	margin-left:7px;
}
.mg-rectangle{
	margin-top:5px;
	margin-bottom:60px;
	margin-right:80px;
	margin-left:200px;
}


.oval {
	width: 250px;
	height: 150px;
	background: black;
	-moz-border-radius: 180px / 130px;
	-webkit-border-radius: 170px / 120px;
	border-radius: 210px / 130px;
	border: 3px solid #fff;
}
.oval-bg{

	width: 270px;
	height: 178px;
	background: black;
	-moz-border-radius: 210px / 160px;
	-webkit-border-radius: 200px / 150px;
	border-radius: 220px / 140px
}

.rectangle {
	width: 600px;
	height: 220px;
	background: black;
}

.mg-text-head{
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:200px;
	font-size: 30px;
	position: relative;
	color: black;

}
.mg-text{
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:100px;

}
.text{
	
	color: white;
	width: 400px;
	height: 200px;
	word-wrap:break-word;
	font-size: 16px;
	line-height: 20px;
}

.search_everything{
	margin-left: 280px;
}
input#search{
	width: 350px;
	height: 35px;
}
.search_img{
	width: 50px;
	height: 80px;
}
.icon_new_res{
	width: 50px;
	height: 50px;
	margin-left: 115px;
}
.apple_pagination{
	width: 575px;
	margin-left: 200px;
}
.form_new_res{
	margin-left: 180px;
	padding-left: 50px;
	width: 580px;
	background-color: #000000;
}
label,.field_with_errors{ 
	display: inline-block;
	width: 150px;
	font-size: 18px;
}

.des_tag_text{
	textarea{
		width: 150px;
	}	
}
.form_res_submit_button{
	width: 500px;
	margin-left: 195px;
}



.panel-sign{
  background-color:black;
  margin-top: 35px;
  margin-left:28px;
  margin-bottom:35px;
  margin-right:28px;

  border-style:solid;
  border-width:2px;
  border-color:white;

  width:880px;

  padding-top:25px;
  padding-left:50px;
  padding-bottom:20px;
  padding-right:50px;

  font-size: 16px;
  color: white;
}

.color-link{
	color: black;
	line-height: 20px;
}

.mg-restaurant-new{

	margin-top:5px;
	margin-bottom:60px;
	margin-right:0px;
	margin-left:100px;
}
.name_user_review{
  text-align: right;
}






// restaurant show page
.detail{

  margin-left:auto;
  margin-right:auto;
  margin-top: 0px;
  background-color:#000000;
  width: 1040px;
  padding-bottom: 25px;
}
.show_img{
  margin-left:28px;
  border-style:solid;
  border-width:2px;
  border-color:white;
  width:980px;
  
}
.description-restaurant{

  margin-top: 35px;
  margin-left:28px;
  margin-bottom:20px;
  margin-right:28px;

  border-style:solid;
  border-width:2px;
  border-color:white;

  width:880px;

  padding-top:25px;
  padding-left:50px;
  padding-bottom:0px;
  padding-right:50px;

  font-size: 16px;
  color: black;
}

.align_icon_show{
  text-align: center;
  
}
.all_star{
  width:85px;
  height: 30px;
  padding-top:28px;
  margin: auto;
}

.rating{

  width:1040px;
  text-align: right;
  margin-left:-50px;;
}
.data_element{

}
.list_comment{

  margin-top: 20px;
  margin-left:28px;
  margin-bottom:20px;
  margin-right:28px;

  border-style:solid;
  border-width:2px;
  border-color:white;

  width:972px;

  padding-top:10px;
  padding-left:10px;
  padding-bottom:10px;
  padding-right:0px;

  font-size: 16px;
  color: black;
}
.modal-header h3{
  color: black;
}
.modal-body{
  color: black;
}
.close{
  text-align: right;
}
.comment_pic{
 position:absolute;
 width: 50px;
 height: 50px;
 padding-top: 0px;
 margin-top: 0px;
 border-top: 0px;
}
.comment_details{

  width: 1000px;
  padding-left: 60px;
}
.who_comment{
  float: left;
}
.comment_option{
  float: right;
  margin-right: 15px;
}
.descrip_comment{

}
.add_comment{
  margin-top: 20px;
  margin-left:28px;
  margin-bottom:20px;
  margin-right:28px;
  width:986px;

  font-size: 16px;
  color: black;
}
#text_comment{
  margin-left: 165px;
}
.new_comment_submit{
  width: 80px !important;
  height: 75px;
  margin-bottom: 10px;

}
.vote_share {
  width: 50px;
  margin: auto;
}
.vote_share button{
    background-color: black;
}
#all_star{
  padding-top: 20px;
  margin: auto;
  margin-bottom: 20px;
}
.link_facebook{
  text-align: right;
  margin-right: 60px;
}
