﻿.min-gallery
{
	width: 979px;
	height: 448px;
	border: solid 1px black;
	background-color: Black;
	background: url("/assets/slider/bg.jpg");
	margin: auto;
}
.min-gallery .preview
{
	width: 747px;
	height: 300px;
	margin-top: 36px;
	margin-left: 110px;
	position: relative;
	border: solid 2px black;
	overflow: hidden;
	background-color: White;
}
.min-gallery .preview img
{
	/* width: 795px;             height: 525px;*/
	position: absolute;
}
.min-gallery .bottom
{
	width: 100%;
	height: 98px;
	color: Gray;
	font-family: Arial;
	font-size: 1em;
	font-weight: bold;
	overflow: hidden;
}
.min-gallery .bottom .long
{
	width: 100%; /*height: 100%;*/
}
.close
{
	text-align: center;
	color: white;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	padding: 4px;
}
.min-gallery .bottom .short
{
	width: 100%;
	height: 100%;
}
.min-gallery .bottom .short .left
{
	padding-left: 115px;
	padding-top: 42px;
	width: 322px;
	float: left;
}
.min-gallery .bottom .short .middle
{
	width: 118px;
	float: left;
}
.min-gallery .bottom .short .right
{
	width: 300px;
	float: left;
	text-align: right;
	padding-right: 38px;
	padding-top: 42px;
}
.min-gallery .bottom .short .middle > div
{
	float: left;
}

.short-thumbnail-container
{
	width: 36px;
	padding-top: 30px;
	cursor: pointer;
}
.gallery-nav-left
{
	cursor: pointer;
	width: 12px;
	margin-right: 28px;
	height: 18px;
	background-image: url("/assets/slider/arrow-left.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 40px;
}
.gallery-nav-right
{
	width: 12px;
	margin-left: 28px;
	height: 18px;
	cursor: pointer;
	background-image: url("/assets/slider/arrow-right.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 40px;
}
.thumbnail-button
{
	width: 8px;
	height: 8px;
	margin: 2px;
	background-image: url("/assets/slider/box.jpg");
	float: left;
}
.active-image
{
	z-index: 100;
	display: block;
}
.inactive-image
{
}
.gallery-caption
{
	position: absolute;
	width: 100%;
	height: 100px;
	background-color: Black;
	widht: 100%;
	z-index: 102;
	color: gray;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	padding: 8px;
}
/*Horizontal Orientation CSS*/
.thumbnails
{
	width: 420px; /*height: 28px;*/
	margin: auto;
	padding: 0;
	padding: 22px 0px 0px 0px;
	position: relative;
}
.thumbnails-back, .thumbnails-forward
{
	float: left;
	width: 13px;
	height: 40px;
	position: relative;
	top: 6px;
	cursor: pointer;
}
.thumbnails-back
{
	background-image: url("/assets/slider/arrow-left.png");
	background-repeat: no-repeat;
	background-position: left;
}
.thumbnails-forward
{
	background-image: url("/assets/slider/arrow-right.png");
	background-repeat: no-repeat;
	background-position: right;
}
.thumbnails-contents
{
	width: 390px;
	height: 48px;
	float: left;
	position: relative;
	overflow: hidden;
}
.thumbnails-contents > div
{
	position: absolute;
	width: 100%;
}
.thumbnails-contents > div > div
{
	float: left;
}
.thumbnails-contents img
{
	width: 43px;
	height: 43px;
	margin-left: 9px;
	margin-right: 9px;
	border: solid 2px black;
}
/*Horizontal Orientation CSS Ends*/

/*Common*/
.hidden
{
	display: none;
}
.visible
{
	display: block;
}
.thumbnail-active
{
	filter: alpha(opacity=100);
	opacity: 1.0;
	cursor: pointer;
}
.thumbnail-inactive
{
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: pointer;
}
.thumbnail-text
{
	color: #7A7677;
	font-weight: bold;
	text-align: left;
	display: block;
	padding: 10px 2px 2px 0px;
}
.clear-fix
{
	clear: both;
}
