// Place all the styles related to the toptenratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-resize-bigsize img {
	width: auto;
	height: 250px;
}

.img-resize-bigsize {
	width: 300px;
	height: 10px;
	overflow: hidden;
	text-align: center;
}
.mg-oval-bg-bigsize{
	margin-top:25px;
	margin-bottom:30px;
	margin-right:0px;
	margin-left:0px;
}
.mg-oval-bigsize{
	margin-top:10px;
	margin-bottom:10px;
	margin-right:5px;
	margin-left:7px;
}

.oval-bigsize {
	width: 350px;
	height: 250px;
	background: black;
	-moz-border-radius: 280px / 230px;
	-webkit-border-radius: 270px / 220px;
	border-radius: 310px / 230px;
	border: 3px solid #fff;
}
.oval-bg-bigsize{

	width: 370px;
	height: 278px;
	background: black;
	-moz-border-radius: 310px / 260px;
	-webkit-border-radius: 300px / 250px;
	border-radius: 320px / 240px
}

.img-resize-small img {
	width: auto;
	height: 150px;
}

.img-resize-small {
	width: 250px;
	height: 250px;
	overflow: hidden;
	text-align: center;
}
.mg-oval-bg-small{
	margin-top:25px;
	margin-bottom:30px;
	margin-right:0px;
	margin-left:0px;
}
.mg-oval-small{
	margin-top:10px;
	margin-bottom:10px;
	margin-right:5px;
	margin-left:7px;
}

.oval-small {
	width: 250px;
	height: 150px;
	background: black;
	-moz-border-radius: 180px / 130px;
	-webkit-border-radius: 170px / 120px;
	border-radius: 210px / 130px;
	border: 3px solid #fff;
}
.oval-bg-small{

	width: 270px;
	height: 178px;
	background: black;
	-moz-border-radius: 210px / 160px;
	-webkit-border-radius: 200px / 150px;
	border-radius: 220px / 140px
}


.oval-small {
	width: 250px;
	height: 150px;
	background: black;
	-moz-border-radius: 180px / 130px;
	-webkit-border-radius: 170px / 120px;
	border-radius: 210px / 130px;
	border: 3px solid #fff;
}



.img-resize-medium img {
	width: auto;
	height: 200px;
}

.img-resize-medium {
	width: 300px;
	height: 300px;
	overflow: hidden;
	text-align: center;
}
.mg-oval-bg-medium{
	margin-top:25px;
	margin-bottom:30px;
	margin-right:0px;
	margin-left:0px;
}
.mg-oval-medium{
	margin-top:10px;
	margin-bottom:10px;
	margin-right:5px;
	margin-left:7px;
}

.oval-medium {
	width: 300px;
	height: 200px;
	background: black;
	-moz-border-radius: 230px / 180px;
	-webkit-border-radius: 220px / 170px;
	border-radius: 260px / 180px;
	border: 3px solid #fff;
}
.oval-bg-medium{

	width: 320px;
	height: 228px;
	background: black;
	-moz-border-radius: 260px / 210px;
	-webkit-border-radius: 250px / 200px;
	border-radius: 270px / 190px
}

.box-bigsize{
	width: 600px;
	height: 280px;
	
}

.mg-pic-right{
	margin-top:10px;
	margin-bottom:10px;
	margin-right:100px;
	margin-left:550px;
}


.name-link-bigsize{
	padding-top:120px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;
	font-size: 18px;
	text-align: center;
}
.name-link-medium{
	padding-top:110px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;
	font-size: 18px;
	text-align: center;
}

.name-link-small{
	padding-top:90px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:0px;
	font-size: 18px;
	text-align: center;
}

.mg-pic-left{
	margin-top:10px;
	margin-bottom:10px;
	margin-right:0px;
	margin-left:50px;
}
.mg-box-right{
	margin-top:10px;
	margin-bottom:10px;
	margin-right:0px;
	margin-left:320px;
}
.top_ten_head_img{
	margin-left: 325px;
}