#head_table_user{
	font-size: 30px;
	color: black;
}
.table th, .table td{

	text-align: center;
	font-size: 18px;
}
.img_avatar{
	width: 80px;
	height: 60px;
}

.mg-login{
	margin-top:10px;
	margin-bottom:10px;
	margin-right:0px;
	margin-left:270px;
}
.form-newuser{
	margin-left: 180px;
	padding-left: 50px;
	width: 580px;
	background-color: #000000;
}
.form-newuser{
	input,textarea{
		width: 400px;
	}
}
.form-login-btn{
	width: 150px;
	height: 30px;
	margin-left: 120px;
}
.form_regis{
	margin-left: 180px;
	padding-left: 60px;
	width: 400px;
	background-color: #000000;
}
.form-regis-btn{
	width: 150px;
	height: 30px;
	margin-left:120px;
}	