<%= form_for(@locate) do |f| %>
  <% if @locate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@locate.errors.count, "error") %> prohibited this locate from being saved:</h2>

      <ul>
      <% @locate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :district %><br>
    <%= f.text_field :district %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
