<h1>Listing locates</h1>

<table>
  <thead>
    <tr>
      <th>District</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locates.each do |locate| %>
      <tr>
        <td><%= locate.district %></td>
        <td><%= link_to 'Destroy', locate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Locate', new_locate_path %>
