<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= javascript_include_tag "application" %>
    

  </head>
  <body id="homepage_img_bg">

    <div class="container top_margin full_size">
        <div class="row full_size">
                <div class="span12 full_size">
                    <div class="navbar navbar-static-top navbar-inverse">
                      <div class="navbar-inner">
                        <a class="brand">Restaurant Review</a>
                        <ul class="nav pull-right">
                          <% if user_signed_in? %>
                            <% unless current_user.avartar.blank? %>
                              <li><%= image_tag current_user.avartar.url,:class => "style_image_topbar" %></li>
                            <% else %>
                              <li><%= image_tag "nopictureuser.jpg",:class => "style_image_topbar" %></li>
                            <% end %>
                          <% end %>
                            <li><%= render 'users/menu/registration_items' %></li>
                            <li><%= render 'users/menu/login_items' %></li>
                        </ul>
                      </div>
                    </div>
                    <%= bootstrap_flash %>
                    <br/>
                    <%= yield %>
                </div>
            </div><!--/row-->
        </div> <!-- /container -->
  </body>
</html>
