
<ul class="ca-menu">
    <li>
        <%= link_to(root_path) do %>
            <span class="ca-icon"><i class="icon-home"></i></span>
            <div class="ca-content">
                <h2 class="ca-main">Home</h2>
            </div>
        <% end %>
    </li>
    <li>
         <%= link_to(restaurants_path) do %>
            <span class="ca-icon"><i class="icon-book"></i></span>
            <div class="ca-content">
                <h2 class="ca-main">Review</h2>
            </div>
         <% end %>
    </li>
    <li>
        <%= link_to(homepages_topten_path) do %>
            <span class="ca-icon"><i class="icon-star"></i></span>
            <div class="ca-content">
                <h2 class="ca-main">Top 10</h2>
            </div>
            <% end %>
    </li>
    <li>
        <%= link_to(homepages_about_us_path) do %>
            <span class="ca-icon"><i class="icon-film"></i></span>
            <div class="ca-content">
                <h2 class="ca-main">About Us</h2>
                </div>
             <% end %>   
        </li>
    </ul>



    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />

