<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="hero-unit form_regis">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <%= f.input :password, :autocomplete => "off", :placeholder => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>

    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :phone, :required => true %><br>
    <%= f.file_field :avartar %>

  </div>
  <br>
   <%= button_tag 'Update', type: :submit, class: 'btn btn-warning form-regis-btn' %><br>
   
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
</div>