<h2>Sign up</h2>
<div class="hero-unit form_regis">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs ">
    <%= f.input :user_name, :required => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :phone %><br>
    <%= f.file_field :avartar %>
    
  </div>
  <br>
    <%= button_tag 'Signup', type: :submit, class: 'btn btn-primary form-regis-btn' %><br>
   
<% end %>
 
<%= render "users/shared/links" %>
</div>